<nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">market</a>
        <ul class="navbar-nav t mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " style="cursor: pointer;" routerLink="" routerlinkActive="active">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "style="cursor: pointer;" routerLink="cart" routerlinkActive="active">cart</a>
          </li>
        </ul>
      </div>
</nav>